
<div class="container-fluid w-100">
            <div class="row">


                <!-- Contact Details -->
                <div class="col-md-4 mb-4">
                    <h5 class="fw-bold">Contact Us</h5>
                    <p class="mb-1"><i class="bi bi-telephone-fill me-2"></i> +91-1234567890</p>
                    <p class="mb-1"><i class="bi bi-envelope-fill me-2"></i> info@punkelglobal.com</p>
                    <p class="mb-0"><i class="bi bi-geo-alt-fill me-2"></i> 123 Business Street, City, Country</p>
                </div>

                <!-- Social Media Links -->
                <div class=" col-md-4 d-flex flex-column">
                    <h5 class="fw-bold">Follow Us</h5>
                    <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i> Facebook</a>
                    <a href="#" class="text-white me-3 "><i class="bi bi-twitter"></i> Twitter</a>
                    <a href="#" class="text-white me-3 "><i class="bi bi-linkedin"></i> Linkedin</a>
                    <a href="#" class="text-white "><i class="bi bi-instagram"></i> Instagram</a>
                </div>

                <!-- quick Links -->
                <div class=" col-md-4 d-flex m-md-0  mt-3 flex-column">
                    <h5 class="fw-bold">Quik links</h5>
                    <a href="index.html" class="text-white me-3 nav-link"><i class="bi bi-house"></i> Home</a>
                    <a href="about.html" class="text-white me-3 nav-link"><i class="bi bi-info-circle"></i> About Us</a>
                    <a href="contact.html" class="text-white me-3  nav-link"><i class="bi bi-headset"></i> Contact
                        Us</a>
                    <a href="join.html" class="text-white  nav-link"><i class="bi bi-person-lines-fill"></i> Join Us</a>
                </div>

            </div>

            <hr class="border-light">

            <div class="row">
                <div class="col text-center">
                    <p class="mb-0">&copy; 2025 Punkel Global Traders Pvt. Ltd. | All Rights Reserved | Developed by
                        Gourav Rajpoot</p>
                </div>
            </div>

        </div>